.menu-main{
    background: #2D283E;
    font-family: 'Lato', sans-serif;
    width: 100vw;
}

.menu-container{
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 5;
    display: flex;
    background: #564f6f;
}

.menu-EQ{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto 0 auto 5px;
}


.menu-EQ>div{
    width: 3px;
    border-radius: 3px 3px 0 0px;
    background-color: orange;
    align-self: flex-end;
    transition: 1s;
}

.menu-eq-false>div{
    width: 3px;
    border-radius: 3px 3px 0 0px;
    align-self: flex-end;
    background-image: linear-gradient(red 5%, yellow 20%, green 75%);
    height: 100%;
    transition: 1s;
}


.menu-bar1{
    height: 30%;
    
}

.menu-bar2{
    height: 75%;
    
}

.menu-bar3{
    height: 55%;
}

.menu-bar4{
    height: 90%;
}
.menu-bar5{
    height: 40%;
}

.menu-title{
    color: #d1d7e0;
    margin: auto;
    font-size: 4vh;
    font-weight: 700;
}

.menu-hamburger{
    margin: auto 5px auto 0;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;


}

.menu-hamburger>div{
    width: 17px;
    height: 4px;
    background-color: orange;
    margin: 1px auto;
}

.menu-slide{
    height: 30vh;
    width: 100%;
    background: #2D283E;
    position: fixed;
    z-index: 3;
    top: -250px;
    transition: 1.5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 1px 3px orange;
}

.menu-slide-visible{
    top: 38px;
    transition: 1.5s
}

.menu-slide>a{
    color: #d1d7e0;
    width: 50%;
    font-size: 6vh;
    text-align: center;
    margin: auto 0px;

}



@media(min-width: 500px){
    .menu-title{
        font-size: 7.5vh;
    }

    .menu-eq-false>div, .menu-EQ>div {
        width: 4px;
    }

    .menu-EQ{
        width: 30px;
    }
    .menu-slide{
        height: 45vh;

    }

    .menu-slide>a{
        font-size: 15vh;
    }

    .menu-hamburger{
        height: 25px;
        width: 25px;
    
    }
    
    .menu-hamburger>div{
        width: 20px;
        height: 5px;
    }
}

@media(min-width: 750px){
    
    .menu-container{
        height: 100px;
        width: 100vw;
    }

    .menu-EQ{
        height: 7.5vh;
        width: 80px;
        display: flex;
        justify-content: space-around;
        margin: auto 0 auto 5px;
    }

    .menu-EQ>div, .menu-eq-false>div{
        width: 12px;
    }

    .menu-slide{
        height: 30vh;

    }

    .menu-slide>a{
        font-size: 9vh;
    }

    .menu-slide-visible{
        top: 100px;
    }

    .menu-hamburger{
        height: 50px;
        width: 50px;
    
    }
    
    .menu-hamburger>div{
        width: 50px;
        height: 10px;
        margin-top: 5px;
    }
}

@media(min-width:800px){
    .menu-title{
        font-size: 7.5vh;
    }

    .menu-eq-false>div, .menu-EQ>div {
        width: 4px;
    }

    .menu-EQ{
        width: 30px;
    }
    .menu-slide{
       top: -250px;

    }

    .menu-slide>a{
        font-size: 12vh;
    
    }
    .menu-container{
        height: 50px;
    }

    .menu-hamburger{
        margin: auto 5px auto 0;
        height: 20px;
        width: 40px;
    
    }
    
    .menu-hamburger>div{
        width: 25px;
        height: 3px;
        margin: 1.5px auto
    }
    .menu-slide-visible{
        top: 50px;
        transition: 1.5s
    }
}


@media(min-width:1000px){
    .menu-container{
        height:130px;
    }

    .menu-hamburger{
        height: 5vh;
        width: 50px;
    }

    .menu-hamburger>div{
        width: 100%;
        height: 1vh;
        margin:  auto
    }
    .menu-slide{
        top: -350px;
     }

    .menu-slide>a{
        font-size: 9.5vh;
    }

    .menu-slide-visible{
        top: 130px;
    }

    .menu-EQ{
        height: 7.5vh;
        width: 50px;
    }

    .menu-EQ>div, .menu-eq-false>div{
        width: 8px;
    }

}

@media(min-width:1100px){
    


    .menu-EQ{
        height: 6vh;
        width: 60px;
        display: flex;
        justify-content: space-around;
        margin: auto 0 auto 5px;
    }

    .menu-EQ>div, .menu-eq-false>div{
        width: 9px;
    }
    .menu-title{
        font-size: 6vh;
    }

    .menu-container{
        height: 80px;
    }

    .menu-slide-visible{
        top: 80px;
    }


}
