.event-main{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: #564f6f;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
   color: #d1d7e0;
}

.event-text{
    display: flex;
    flex-direction: column;
    margin: 60px 25px auto 25px;
}

.event-header-text{
    margin: auto 25px 30px 25px;
}

.event-header{
    font-weight: 700;
    font-size: 5vh;
    margin-bottom: 10px;
}

@media(min-width:350px){
    .event-header-text{
        font-size: 3vh;
    }
}

@media(min-width:500px){
    .event-header-text{
        font-size: 5.5vh;
    }

    .event-header{
        font-size:8vh;
    }
}


