.contact-main{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: #564f6f;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
   color: #d1d7e0;
   text-align: center;
}

.contact-desc{
    margin: 50px auto 15px auto;
    width: 75vw;
    font-size: 3vh;
    line-height: 1.3;
    
}

.contact-background{
    background-color: #2D283E;
    border: 1px solid orange;
    border-radius: 15px;
    padding: 15px;
}




a{
    color: #d1d7e0;
    text-decoration: none;

}

@media(min-width:500px){
    .contact-desc{
        font-size: 5.5vh;
    }
}

@media(min-width:750px){
    .contact-desc{
        margin-top: 120px

    }


    .contact-background{
        background-color: #2D283E;
        border: 1px solid orange;
        border-radius: 15px;
        padding: 0px;
    }
}

@media(min-width:800px){
    .contact-desc{
        padding-top: 0;
    }
}

@media(min-width: 100px){
    .contact-desc{
        margin-top: 175px;
    }
}