.thanks-main{
    background: #564f6f;
    color: #d1d7e0;
    font-family: 'Lato', sans-serif;
    font-size: 4vh;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

a, button{
    cursor: pointer;
}



.thanks-message{
    margin: auto 25px;
    text-align: center;
}

@media(min-width:500px){
    .thanks-main{
        font-size: 9vh;
    }
}

@media(min-width:1100px){
    .thanks-message{
        margin: auto 150px;
    }
}